body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inter', sans-serif;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}